spring:
  application:
    name: agri_supplies_shop
  datasource:
    url:
    username:
    password:
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        naming:
          physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
    show-sql: true
  liquibase:
    enabled: false
jwt:
  signer-key:
  valid-duration: 20 # in second
  refreshable-duration: 60 # in second
